.withButtons {
  width: 63%;
  margin: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.sigin {
  width: 70%;
  margin: 24px 24px;
  padding: 0%;
}

.margin-botton {
  margin-bottom: 15px;
}

input {
  margin: 4px;
}

.icon {
  font-size: 1.1rem;
  margin-right: 8px;
}

.textfb {
  margin-left: 10px;
}
.textg {
  margin-left: 4px;
}
.textm {
  margin-left: 7px;
}